################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FitnessCenterProject/FitnessCenterProject/obj
/FitnessCenterProject/FitnessCenterProject/bin/Debug/net8.0
